#menu__toggle {
  opacity: 0;
  width: 0;
}
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
  
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 24px;
  padding-left: 4.5px;
  width: 25px;
  height: 25px;
  
  background: var( --color-black);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position:  absolute;
  width: 15.12px;
  height: 1px;
  
  background-color: var(--color-white);
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -4px;
}

.menu__btn > span::after {
  content: '';
  top: 4px;
}
  
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  z-index: 555;
  width: 375px;
  height: 180px;
  margin-top: 60px;
  padding: 0 0 0px 0;
  
  list-style: none;
  background:  var(--color-white);
  box-shadow: 1px 0px 100px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
  
.menu__item {
  display: block;
  padding: 4px 0 4px 24px;
  
  color: var( --color-black);
  font-family: var(--font-family-medium500);
  font-size: 16px;
  text-decoration: none;
  background: var(--color-white);
  transition-duration: .25s;
}

.menu__item:hover {
  color: gray;
}
